@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	font-family: system-ui, sans-serif;
}

.logo {
	width: 100%;
	text-align: center;
	margin-top: 0.5em;
}

.logo img {
	width: 50px;
	height: 50px;
}

.logo p {
	color: #555454;
	font-size: 25px;
	font-family: 'Sigmar', cursive;
}

.orange_bg {
	position: relative;
	width: 800px;
	height: 500px;
	transform: translate(50%, 20%);
	/* 왼쪽으로 50%, 위로 20% */
	background-color: #f57825;
	border-radius: 10px;
	overflow: hidden;
}

.dot_bg {
	position: absolute;
	top: 50%;
	/* 부모 기준 위에서 50% 위치 */
	left: 50%;
	/* 부모 기준 왼쪽에서 50% 위치 */
	transform: translate(-50%, -50%);
	/* 자식 기준 왼쪽으로 50%, 위로 50% */
	width: 770px;
	height: 470px;
	border-style: dashed;
	/* --- 파선 */
	border-color: #ffffff;
	border-radius: 0.5em;
}

.gray_bg {
	position: absolute;
	/* 자식1 div 기준으로 절대 위치 */
	top: 50%;
	/* 자식1 기준 위에서 50% 위치 */
	left: 50%;
	/* 자식1 기준 왼쪽에서 50% 위치 */
	transform: translate(-50%, -50%);
	/* 자식 기준 왼쪽으로 50%, 위로 50% */
	width: 750px;
	height: 450px;
	background-color: #eeeeee;
	border-radius: 0.5em;
}

.gray_bg span {
	position: relative;
	left: 5%;
	font-size: xx-small;
	font-weight: bold;
	/* 폰트 굵기 */
	color: #88888d;
}

.gray_bg .hp_span {
	font-size: 13px;
	color: #000;
	margin: 20px 35px;
}

/* 라이언 프로필 */
.profile_bg {
	position: absolute;
	top: 6%;
	left: 3%;
	width: 165px;
	height: 400px;
	background: #ffffff;
	border: 1px solid #6e6e6e;
	/* boder 테두리 */
	border-radius: 0.5em;
	/* 1em = 16px */
}

/* 프로필 이미지 */
.profile_bg .pro_img {
	position: absolute;
	top: 5%;
	left: 10%;
	width: 130px;
	height: 130px;
}

.profile_bg span {
	position: absolute;
	top: 42%;
	left: 10%;
	font-size: 15px;
	font-weight: bold;
	color: #88888d;
}

/* audio 태그 */
audio {
	position: absolute;
	width: 150px;
	height: 80px;
	left: 10%;
	bottom: 20%;
	filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

.control {
	position: absolute;
	float: left;
	width: 120px;
	height: 30px;
	left: 12%;
	bottom: 20%;
	border: 1px solid lavender;
	border-radius: 25px;
	text-align: center;
}

.control a {
	text-decoration: none;
	color: crimson;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 0 5px;
}

/* 모바일 하단 메뉴 */
.bottom_meun {
	display: none;
}

/* select */
.sel_box {
	position: absolute;
	width: 130px;
	height: 25px;
	left: 10%;
	bottom: 5%;
	text-align: center;
}

/* home */
#home_content {
	position: absolute;
	width: 450px;
	height: 400px;
	top: 6%;
	left: 27%;
	background: #ffffff;
	border: 1px solid #6e6e6e;
	/* boder 테두리 */
	border-radius: 0.5em;
	display: inline-block;
	/* 이걸 적용해야 앞 or 뒤 배치  */
}

#home_content p.news {
	margin: 5px 25px;
	color: red;
	font-size: 12px;
	font-weight: bold;
}

.news_div {
	position: relative;
	left: 5%;
	border: 1px solid #6e6e6e;
	width: 400px;
	height: 100px;
	background-color: #eeeeee;
}

.news_div h5 {
	margin-top: 35px;
	text-align: center;
}

#home_content p.room {
	margin: 10px 25px;
	color: red;
	font-size: 12px;
	font-weight: bold;
}

.ryan_div img {
	position: relative;
	width: 400px;
	height: 220px;
	left: 5%;
	bottom: 5px;
	border: 1px solid #6e6e6e;
}

/* 메뉴바 디자인 */
ul.menu-wrap {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

ul.menu-wrap li {
	color: #000;
	cursor: pointer;
	margin: 20px;
	background: #fff;
	border: 1px solid #6e6e6e;
}

/* 클릭 시 색 변경 */
ul.menu-wrap li.selected {
	background: #f57825;
}

/* 홈 */
.menu_home {
	position: relative;
	width: 82px;
	height: 35px;
	top: 40px;
	left: 84.6%;
	font-size: 13px;
	display: flex;
	/* 가운데 정렬 */
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	cursor: pointer;
}

/* 다이어리 */
.menu_diary {
	position: relative;
	width: 82px;
	height: 35px;
	top: 40px;
	left: 84.6%;
	font-size: 13px;
	display: flex;
	/* 가운데 정렬 */
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	cursor: pointer;
}

/* 사진첩 */
.menu_photo {
	position: relative;
	width: 82px;
	height: 35px;
	top: 40px;
	left: 84.6%;
	font-size: 13px;
	display: flex;
	/* 가운데 정렬 */
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	cursor: pointer;
}

/* 방명록 */
.menu_visit {
	position: relative;
	width: 82px;
	height: 35px;
	top: 40px;
	left: 84.6%;
	font-size: 13px;
	display: flex;
	/* 가운데 정렬 */
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	cursor: pointer;
}

/* 다이어리 */
#diary_content {
	position: relative;
	top: -54%;
	left: 27%;
	width: 450px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #6e6e6e;
	border-radius: 0.5em;
	max-height: 300vh;
	overflow-y: scroll;
	display: none;
}

.diary_calender {
	position: absolute;
	width: 80%;
	height: auto;
	left: 10%;
	top: 2%;
	background: #ededed;
}

table {
	margin: auto;
}

td {
	position: relative;
	top: 0px;
	width: 45px;
	height: 25px;
	text-align: center;
	color: #000000;
	border: 1px solid #ccc;
	background: #ffffff;
	border-radius: 10px;
}

.diary {
	position: relative;
	width: 80%;
	height: 180px;
	top: 170px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 10px;
	font-size: 1rem;
	border: 2px solid #222;
	border-radius: 5px;
}

.diary .date {
	color:#0066cc;
	float: left;
}

.diary p {
	display: block;
	margin: auto;
}

/* 사진첩 */
#gallery_content {
	position: absolute;
	top: 6%;
	left: 27%;
	width: 450px;
	height: 400px;
	background: #ffffff;
	border: 1px solid #6e6e6e;
	/* boder 테두리 */
	border-radius: 0.5em;
	overflow-y: scroll;
	display: none;
}

#gallery_content p {
	position: absolute;
	top: 2%;
	left: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}

/* 눈물 라이언 */
.tears_ryan {
	position: relative;
	width: 445px;
	height: 400px;
}

.tears_ryan img {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 13%;
	left: 15%;
}

.tears_ryan span {
	position: absolute;
	top: 67%;
	left: 18px;
	color: #1f1b1b;
	font-size: 15px;
	vertical-align: bottom;
	/* 텍스트를 하단에 위치 */
}

/* 댓글 */
.tears_ryan .comment {
	position: absolute;
	top: 80%;
	left: 18px;
	width: 415px;
	height: 70px;
	background-color: #e7e7e7;
}

.tears_ryan hr {
	position: absolute;
	top: 78%;
	margin: 0 18px;
	width: 93%;
}

.tears_ryan .comment span {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 12px;
}

/* 길리 라이언 */
.gilri_ryan {
	position: relative;
	width: 445px;
	height: 400px;
}

.gilri_ryan p {
	position: relative;
	top: 55%;
	color: #006699;
	font-weight: bold;
}

.gilri_ryan img {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 10%;
	left: 25%;
}

.gilri_ryan span {
	position: absolute;
	top: 62%;
	left: 18px;
	color: #1f1b1b;
	font-size: 15px;
	vertical-align: bottom;
	/* 텍스트를 하단에 위치 */
}

.gilri_ryan hr {
	position: absolute;
	top: 78%;
	margin: 0 18px;
	width: 93%;
}

.gilri_ryan .comment {
	position: relative;
	top: 80%;
	left: 18px;
	width: 415px;
	height: 70px;
	background: #e7e7e7;
}

.gilri_ryan .comment span {
	position: relative;
	top: 0px;
	left: 0px;
	font-size: 12px;
}

/* 방명록 */
#visit_content {
	position: absolute;
	top: 6%;
	left: 27%;
	width: 450px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #6e6e6e;
	/* boder 테두리 */
	border-radius: 0.5em;
	overflow-y: scroll;

	display: none;
}

/* 춘식 */
#visit_content .title {
	width: 450px;
	height: 20px;
	background-color: #e7e7e7;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
}

.cunsick_talk img {
	width: 120px;
	height: 120px;
	margin: 15px;
	border: 2px solid #e7e7e7;
}

.cunsick_talk span {
	position: absolute;
	top: 20%;
	left: 45%;
	font-size: 13px;
	font-weight: bold;
}

/* 죠르디 */
.jordy_talk img {
	width: 120px;
	height: 120px;
	margin: 15px;
	border: 2px solid #e7e7e7;
}

.jordy_talk span {
	position: absolute;
	top: 65%;
	left: 45%;
	font-size: 13px;
	font-weight: bold;
}

/* 어피치 */
.apeach_talk img {
	width: 120px;
	height: 120px;
	margin: 15px;
	border: 2px solid #e7e7e7;
}

.apeach_talk span {
	position: absolute;
	top: 110%;
	left: 45%;
	font-size: 13px;
	font-weight: bold;
}

@media screen and (max-width: 1399px) {
	.orange_bg {
		transform: translate(30%, 0.5%);
		/* 왼쪽으로 30%, 위로 0.5% */
	}
}

@media screen and (min-width: 320px) and (max-width: 800px) {
	.orange_bg {
		width: 385px;
		height: 385px;
		transform: translate(0%, 20%);
		/* 왼쪽으로 0%, 위로 20% */
	}

	.dot_bg {
		width: 365px;
		height: 365px;
	}

	.gray_bg {
		width: 345px;
		height: 345px;
	}

	.gray_bg span {
		left: 2%;
		font-size: 5px;
		font-weight: bold;
	}

	.gray_bg > .hp_span {
		font-size: 8px;
		margin: 0 -5px;
	}

	/* 라이언 프로필 */
	.profile_bg {
		top: 9%;
		left: 2%;
		width: 70px;
		height: 300px;
	}

	/* 프로필 이미지 */
	.profile_bg .pro_img {
		position: absolute;
		top: 5%;
		left: 10%;
		width: 55px;
		height: 50px;
	}

	.profile_bg span {
		top: 30%;
		left: 3%;
		font-size: 10px;
	}

	.control {
		width: 50px;
		height: 25px;
		bottom: 25%;
	}

	.control a {
		font-size: 10px;
	}

	/* select */
	.sel_box {
		width: 55px;
		height: 25px;
		font-size: 8px;
	}

	/* home */
	#home_content {
		width: 250px;
		height: 300px;
		top: 9%;
		left: 25%;
	}

	#home_content p.news {
		margin: 5px 15px;
	}

	.news_div {
		left: 5%;
		width: 225px;
		height: 100px;
	}

	.news_div h5 {
		margin-top: 42px;
	}

	#home_content p.room {
		margin: 10px 15px;
	}

	.ryan_div img {
		width: 225px;
		height: 138px;
		left: 5%;
		bottom: 5px;
	}

	/* 다이어리 */
	#diary_content {
		width: 250px;
		height: 300px;
		top: 3.5%;
		left: 25%;
	}

	.diary_calender {
		width: 235px;
		height: 130px;
		font-size: 0.7rem;
		top: 2%;
		left: 6px;
	}

	.month_div {
		width: 30px;
		height: 129px;
	}

	.month_div span {
		font-size: 1.7rem;
		text-align: center;
	}

	td {
		top: 6px;
		left: 33px;
		width: 25px;
		height: 20px;
	}

	/* 플/마 버튼 */
	.btn_control {
		width: 42%;
		top: 50%;
		right: 0;
	}

	.plusbtn {
		width: 40px;
		height: 20px;
	}

	.plusbtn img {
		width: 15px;
		height: 15px;
	}
	
	.minusbtn {
		width: 40px;
		height: 20px;
	}
	
	.minusbtn img {
		width: 15px;
		height: 15px;
	}

	/* 동그라미 */
	.diary_circle {
		width: 200px;
		height: 50px;
		left: 10px;
	}
	
	.diary_circle p {
		font-size: 10px;
	}
	
	/* 꽃 */
	.diary_flower {
		width: 200px;
		height: 45px;
		left: 10px;
	}
	
	.diary_flower p {
		font-size: 10px;
	}
	
	/* 추가되는 div */
	.diary_love {
		font-size: 10px;
		top: 20%;
		left: 0px;
		width: 190px;
		height: 50px;
	}

	.diary_love::after {
		clear: both;
	}

	/* 사진첩 */
	#gallery_content {
		width: 250px;
		height: 300px;
		top: 9%;
		left: 25%;
	}

	#gallery_content p {
		left: 10px;
		font-size: 10px;
	}

	/* 눈물 라이언 */
	.tears_ryan {
		width: 248px;
		height: 260px;
	}

	.tears_ryan img {
		width: 100px;
		height: 100px;
		top: 10%;
		left: 25%;
	}

	.tears_ryan span {
		top: 56%;
		left: 15px;
		font-size: 12px;
	}

	.tears_ryan hr {
		top: 70%;
		width: 88%;
		margin: 0 15px;
	}

	/* 댓글 */
	.tears_ryan .comment {
		top: 75%;
		left: 15px;
		width: 220px;
		height: 60px;
	}

	/* 길리 라이언 */
	.gilri_ryan {
		width: 240px;
		height: 280px;
	}

	.gilri_ryan img {
		width: 100px;
		height: 100px;
		top: 10%;
		left: 35%;
	}

	.gilri_ryan span {
		top: 54%;
		left: 18px;
		font-size: 12px;
	}

	.gilri_ryan hr {
		top: 72%;
		width: 88%;
		margin: 0 15px;
	}

	.gilri_ryan .comment {
		top: 77%;
		left: 12px;
		width: 220px;
		height: 60px;
	}

	.gilri_ryan .comment span {
		top: 0;
		left: 0px;
		font-size: 12px;
	}

	/* 방명록 */
	#visit_content {
		width: 250px;
		height: 300px;
		top: 9%;
		left: 25%;
	}

	#visit_content .title {
		width: 250px;
		height: 10px;
		font-size: 8px;
		margin-top: 5px;
	}

	/* 춘식 */
	.cunsick_talk img {
		width: 50px;
		height: 50px;
		margin: 15px;
	}

	.cunsick_talk span {
		top: 18%;
		left: 35%;
		font-size: 8px;
	}

	/* 죠르디 */
	.jordy_talk img {
		width: 50px;
		height: 50px;
		margin: 15px;
	}

	.jordy_talk span {
		top: 52%;
		left: 35%;
		font-size: 8px;
	}

	/* 어피치 */
	.apeach_talk img {
		width: 50px;
		height: 50px;
		margin: 15px;
	}

	.apeach_talk span {
		top: 85%;
		left: 35%;
		font-size: 8px;
	}

	.menu-wrap {
		display: none;
	}

	/* 하단 메뉴 */
	.bottom_meun {
		position: fixed;
		display: flex;
		bottom: 0px;
		width: 100%;
		height: 45px;
		vertical-align: middle;
		justify-content: center;
		background-color: #ededed;
	}

	.bottom_meun>div {
		float: left;
		width: 20%;
		height: 100%;
		margin: 10px;
		text-align: center;
	}

	.bottom_meun>div img {
		width: 25px;
		height: 25px;
		border: none;
	}

	.bottom_meun>div:hover img {
		filter: opacity(0.5) drop-shadow(0 0 0 #fff);
	}
}